h1 {
  text-align: center;
  margin-bottom: 2%;
}

a {
  color: #1ab6cf;
}

body {
  margin: 1%;
}

  .tag-line {
    font-size: .75rem;
  }
  .vertical-align {
      display: flex;
      align-items: center;
  }
.contact {
  text-align: center;
}

.contact a{
  color:  #17a2b8;
}
img {
  width: 75%;
  height: auto;
}

.btn-more{
  justify-content: center;
  text-align: center;
  border-color: #17a2b8;
}

.project {
  justify-content: center;
  text-align: center;
  border-color: #17a2b8;
  margin: 5%;
}
